<div class="row">

    <!-- 1. sk-rotating-plane -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value1 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value1 ?>" type="radio" id="skRotatingPlane" />
            <label for="skRotatingPlane">
                <div class="sk-rotating-plane"></div>
            </label>
        </div>
    </div>
    <!-- /> 1. sk-rotating-plane -->

    <!-- 2. sk-double-bounce -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value2 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value2 ?>" type="radio" id="skDoubleBounce" />
            <label for="skDoubleBounce">
                <div class="sk-double-bounce">
                    <div class="sk-child sk-double-bounce1"></div>
                    <div class="sk-child sk-double-bounce2"></div>
                </div>
            </label>
        </div>
    </div>
    <!-- /> 2. sk-double-bounce -->

    <!-- 3. sk-wave -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value3 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value3 ?>" type="radio" id="skWave" />
            <label for="skWave">
                <div class="sk-wave">
                    <div class="sk-rect sk-rect1"></div>
                    <div class="sk-rect sk-rect2"></div>
                    <div class="sk-rect sk-rect3"></div>
                    <div class="sk-rect sk-rect4"></div>
                    <div class="sk-rect sk-rect5"></div>
                </div>
            </label>
        </div>
    </div>
    <!-- /> 3. sk-wave -->

    <!-- 4. sk-wandering-cubes -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value4 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value4 ?>" type="radio" id="skWanderingCubes" />
            <label for="skWanderingCubes">
                <div class="sk-wandering-cubes">
                  <div class="sk-cube sk-cube1"></div>
                  <div class="sk-cube sk-cube2"></div>
                </div>
            </label>
        </div>
    </div>
    <!-- /> 4. sk-wandering-cubes -->

    <!-- 5. sk-spinner-pulse -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value5 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value5 ?>" type="radio" id="skSpinnerPulse" />
            <label for="skSpinnerPulse">
                <div class="sk-spinner sk-spinner-pulse"></div>
            </label>
        </div>
    </div>
    <!-- /> 5. sk-spinner-pulse -->

    <!-- 6. sk-chasing-dots -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value6 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value6 ?>" type="radio" id="skChasingDots" />
            <label for="skChasingDots">
                <div class="sk-chasing-dots">
                    <div class="sk-child sk-dot1"></div>
                    <div class="sk-child sk-dot2"></div>
                </div>
            </label>
        </div>
    </div>
    <!-- /> 6. sk-chasing-dots -->

    <!-- 7. sk-three-bounce -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value7 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value7 ?>" type="radio" id="skThreeBounce" />
            <label for="skThreeBounce">
                <div class="sk-three-bounce">
                    <div class="sk-child sk-bounce1"></div>
                    <div class="sk-child sk-bounce2"></div>
                    <div class="sk-child sk-bounce3"></div>
                </div>
            </label>
        </div>
    </div>
    <!-- /> 7. sk-three-bounce -->

    <!-- 8. sk-circle -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value8 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value8 ?>" type="radio" id="skCircle" />
            <label for="skCircle">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </label>
        </div>
    </div>
    <!-- /> 8. sk-circle -->

    <!-- 9. sk-cube-grid -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value9 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value9 ?>" type="radio" id="skCubeGrid" />
            <label for="skCubeGrid">
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
            </label>
        </div>
    </div>
    <!-- /> 9. sk-cube-grid -->

    <!-- 10. sk-fading-circle -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value10 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value10 ?>" type="radio" id="skFadingCircle" />
            <label for="skFadingCircle">
                <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </label>
        </div>
    </div>
    <!-- /> 10. sk-fading-circle -->

    <!-- 11. sk-folding-cube -->
    <div class="col-md-6">
        <div class="radio custom-radio">
            <input <?= $spinner == $value11 ? 'checked="checked"' : '' ?> name="<?= $name ?>" value="<?= $value11 ?>" type="radio" id="skFoldingCube" />
            <label for="skFoldingCube">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </label>
        </div>
    </div>
    <!-- /> 11. sk-folding-cube -->

</div>
